button {
  font-size: 28px;
  font-weight: bold;
  background-color: #4AB4DC;
  color: #ffffff;
  border-radius: 25px;
  border: none;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 322px;
  height: 71px;
}
button:hover {
  background-color:#0B5D7C;
}