button {
    border: solid 1px;
    color: #4AB4DC;
    border-radius: 200px;
    padding: 20px;
    background-color: #4AB4DC;
    height: 71px;
    width: 71px;
    cursor: pointer;
}
button:hover{
    background-color:#0B5D7C;
    border-color: #0B5D7C;
}